body{
  background-color: #120A1A;
}

#game_canvas {
  border: 2px solid white;
}

#loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P';
  color: white;
  font-size: 5em;
}

.game_info{
  width: 500px;
  font-family: 'Press Start 2P';
  text-align: center;
  color: white;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
