/* Article-like page eg Guida */
article{
  min-width: 480px;
  font-size: 0.9em;
  color: black;
  background-color: #c3a8dd;
  padding: 7%;

  /* Ombra */
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

article p{
  text-align: left;
  line-height: 1.5em;
}

article ul{
  list-style-type: square;
}

article li{
  margin-bottom: 5px;
  line-height: 1.5em;
  text-align: left;
}

article > img{
  width: 10%;
  background-color: #e0d2ee;
  padding: 5px;

}

#asteroid-img{
  width: 45%;
  background-color: transparent;
}

article li img{
  height: 1.5em;
  float: left;
}
