body{
  margin: 0;
  background-color: #261536;
  font-family: 'Press-Start-2P';
  overflow-y: scroll;
}

/* Header */
header{
  position: fixed;
  top: 0;
  display: table;
  width: 100%;
  padding: .5% 0;
  margin-bottom: .5%;
  background-color: #1c0f28;
  color: white;
  /* Ombra */
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

header img{
  display: block;
  width: 32%;
  margin: 0 auto;
  float: left;
  padding: 0 1%;
}

nav{
  float:left;
  width: 33%;
  margin: 0 auto;
}

nav ul{
  list-style-type: none;
  margin:3% auto;
  text-align: center;
  padding: 0;
}

nav li {
  display: inline;
  margin:0;

}

nav li a {
  display: inline-block;
  width: 35%;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  border: 1px solid white;
  padding: 16px;
  color: white;
}

.active{
  border: 3px solid white;
  padding: 14px;
}

nav li a:hover{
  background-color: white;
  color: #120A1A;
}

/* Main content of the page */
main{
  width: 65%;
  margin: 8% auto 0 auto;
}

/* Footer */
footer{
  display: block;
  width: 100%;
  padding: 5px 0;
  color: white;
  background-color: #1c0f28;
}

.short-page-footer{
  position: fixed;
  bottom: 0;
}
.long-page-footer{
  position: absolute;
  margin-top: 2%;
}

footer p{
  text-align: center;
  font-size: 0.5em;
}

.left{
  float: left;
  text-align: left;
  margin-right: 10px;
}

.right{
  float: right;
  text-align: right;
  margin-left: 10px;
}

.pre{
  white-space: pre;
}
